@font-face {
    font-family: YoungSerif-Regular;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: Outfit-Regular;
    src: url(assets/fonts/outfit/static/Outfit-Regular.ttf);
}
@font-face {
    font-family: Outfit-SemiBold;
    src: url(assets/fonts/outfit/static/Outfit-SemiBold.ttf);
}
h1{
    font-family: YoungSerif-Regular;
    font-size: 48px;
}
h2{
    font-family: Outfit-Regular;
    font-size: 17px;
}
h3{
    font-family: YoungSerif-Regular;
    font-size: 24px;
    color: rgb(110, 30, 12);
}
.prep-header{
    font-family: Outfit-SemiBold;
    font-size: 18px;
    color: rgb(195, 112, 127);
    margin-left: 20px;
}
p{
    font-family: Outfit-Regular;
    font-size: 18px;
}
.container{
    margin: 0px 30px 0px 30px;
}
.header-image{
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    object-fit: contain;
}
img{
    border-radius: 15px;
    width: 100%;
    height: 600px;
}
.preparation{
    width: 100%;
    height: 200px;
    background-color: rgb(236, 220, 223);
    padding: 15px 0px 0px 15px;
}
.list-item2{
    font-family: Outfit-Regular;
    font-weight: lighter;
    font-size: 16px;
}
.list-item2 li{
    padding-top: 10px;
}
.not-bold{
    font-family: Outfit-Regular;
    font-weight: lighter;
    font-size: 16px;
}

table{
    width: 100%;
    border-collapse: collapse;
    align-items: center;
}
.table-sp{
    margin: 0px 30px 0px 30px;
}
td{
    font-family: Outfit-Regular;
    border-bottom: 0.2px solid #393939;
    padding: 15px;
}
.table-data1{
    font-weight: bold;
    color: rgb(110, 30, 12);
}
.table-data{
    font-weight: bold;
    color: rgb(110, 30, 12);
}
.table-data2{
    border-bottom: none;
    font-weight: bold;
    color: rgb(110, 30, 12);
}
.table-data3{
    border-bottom: none;
    
}